<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <h2>Sign Up</h2>
    <form name="signUpForm" action="/auth/signUp" method="post">
        <input name="userName">
        <input name="password">
        <input type="submit" value="Sign Up">
    </form>

    <h2>Sign In</h2>
    <form name="signInForm" action="/auth/signIn" method="post">
        <input name="userName">
        <input name="password">
        <input type="submit" value="Sign In">
    </form>

</body>
</html>